# Created by https://www.toptal.com/developers/gitignore/api/flutter,dart,android,ios,macos,windows,linux
# Edit at https://www.toptal.com/developers/gitignore?templates=flutter,dart,android,ios,macos,windows,linux

### General ###
.DS_Store
*.log
*.tmp

### Dart / Flutter ###
.dart_tool/
.packages
.buildlog
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
lib/generated_plugin_registrant.dart
coverage/
analysis_options.yaml

# For library packages, don’t commit pubspec.lock
# But apps SHOULD commit pubspec.lock
pubspec.lock

### Flutter Environment Files
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.fvm/
fvm_config.json

### Android ###
**/android/.gradle/
**/android/.idea
**/android/local.properties
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/gradle-wrapper.jar
**/android/key.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/debug.keystore

### iOS ###
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.perspectivev3
**/ios/**/*.pbxuser
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/DerivedData/
**/ios/**/xcuserdata/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Generated.xcconfig
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/.last_build_id
**/ios/Runner.xcworkspace/xcshareddata/

# Keep default project files
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3

### macOS ###
**/macos/Pods/
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/GeneratedPluginRegistrant.swift

### Web ###
web/.dart_tool/
web/.firebase/
web/.cache/
web/.sass-cache/

### Windows ###
**/windows/flutter/ephemeral/
**/windows/GeneratedPluginRegistrant.*

### Linux ###
**/linux/flutter/ephemeral/
**/linux/GeneratedPluginRegistrant.cc

### VSCode ###
.vscode/
.history/

### IntelliJ ###
.idea/
*.iml

### Exceptions ###
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# End